@{
    ViewBag.Title = "Search";
   Layout = "~/Views/Shared/layout2.cshtml";
}

<h2 class="text-center">Search </h2>
<p class="text-center">
    <font size="3">
        <strong>ID: </strong>@ViewBag.User.Id<br>
        <strong>Email: </strong>@ViewBag.User.Email<br>
        <strong>Address: </strong>@ViewBag.User.Address<br>
        <strong>Contact Number: </strong>@ViewBag.User.PhoneNumber<br>
        <strong>Password: </strong>@ViewBag.User.Password<br>
        </font>
</p>
