@{
    ViewBag.Title = "Search Item";
    Layout = "~/Views/Shared/layout2.cshtml";
}

<h2 class="text-center">Search Item </h2>
<p class="text-center">
    <font size="3">
        <strong>ID: </strong>@ViewBag.Item.Id<br>
        <strong>Name:</strong>@ViewBag.Item.Name<br>
        <strong>Description: </strong>@ViewBag.Item.Description<br>
        <strong>Price: </strong>@ViewBag.Item.Price<br>
        <strong>Photo </strong>@ViewBag.Item.Photo<br>
        </font>
</p>
